<li class="list-group-item list-group-item-action d-flex justify-content-end" id='new_model' >
  <%= link_to '',
              new_model_path,
              class: 'btn btn-primary btn-sm add',
              data: { turbo_prefetch: false },
              title: 'Добавить модель'
  %>
</li>
