<% content_for :title do %>
  Модели
<% end %>

<div class="container">
  <ul class="list-group">
    <%= render '/models/new_btn' %>

    <% @models.each do |model| %>
        <%= render model %>
    <% end %>
  </ul>
</div>
