<% content_for :title do %>
  Модели
<% end %>

<div class="container">
  <ul class="list-group">
    <%= render '/models/new_btn' %>

    <li class="list-group-item list-group-item-action active mobile-none">
      <div class="row">
        <div class="col-md-6">
          Бренд + модель
        </div>
        <div class="col-md-3">
          Года выпуска
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </li>
    <% @models.each do |model| %>
        <%= render model %>
    <% end %>
  </ul>
</div>
