<li class="list-group-item list-group-item-action d-flex justify-content-end" id='new_part' >
  <%= link_to '',
              new_part_path,
              class: 'btn btn-primary btn-sm add',
              data: { turbo_prefetch: false },
              title: 'Добавить запчасть'
  %>
</li>
