<li class="list-group-item list-group-item-action list-group-item-success" id='new_part'>
  <h5>Новая запчасть</h5>
  <%= render partial: '/parts/form', locals: { url: parts_path, method: :post } %>
</li>
