<% content_for :title do %>
  Редактирование запчасти <%= @part.title %>
<% end %>

<div class="container" data-controller="checkboxes">
  <%= render partial: '/parts/form', locals: { url: part_path(@part), method: :patch } %>
</div>
